# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
build*
compile_commands.json
.ccls-cache
divfree/divfree_config.h
.vscode
divfree/deprecated/TPZCompElHCurlNoGrads.cpp
divfree/deprecated/TPZCompElHCurlNoGrads.h
divfree/deprecated/TPZCompElHDivConstant.cpp
divfree/deprecated/TPZCompElHDivConstant.h
divfree/deprecated/TPZCompElHDivConstantBC.cpp
divfree/deprecated/TPZCompElHDivConstantBC.h
divfree/deprecated/TPZCompElKernelHdiv.cpp
divfree/deprecated/TPZCompElKernelHdiv.h
divfree/deprecated/TPZCompElKernelHDiv3D.cpp
divfree/deprecated/TPZCompElKernelHDiv3D.h
divfree/deprecated/TPZCompElKernelHdivBC.cpp
divfree/deprecated/TPZCompElKernelHdivBC.h
divfree/deprecated/TPZCompElKernelHdivBC3D.cpp
divfree/deprecated/TPZCompElKernelHdivBC3D.h
divfree/deprecated/TPZHCurlEquationFilter.cpp
divfree/deprecated/TPZHCurlEquationFilter.h
divfree/deprecated/TPZL2ProjectionCS.cpp
divfree/deprecated/TPZL2ProjectionCS.h
divfree/deprecated/TPZMixedDarcyFlowHybrid.cpp
divfree/deprecated/TPZMixedDarcyFlowHybrid.h
